/* @since 0.5.1 */

#bm-overlay {
  position: fixed;
  background-color: rgba(21, 48, 99, 0.9);
  color: white;
  padding: 10px;
  border-radius: 8px;
  z-index: 9000;
}

div#bm-overlay {
  /* Font stack is as follows:
   * Highest Priority (Roboto Mono)
   * Windows fallback (Courier New)
   * macOS fallback (Monaco)
   * Linux fallback (DejaVu Sans Mono)
   * Any possible monospace font (monospace)
   * Last resort (Arial) */
  font-family: 'Roboto Mono', 'Courier New', 'Monaco', 'DejaVu Sans Mono', monospace, 'Arial';
}

#bm-bar-drag {
  margin-bottom: 0.5em;
  background-color: #3373eb;
  cursor: grab;
  width: 100%;
  height: 1em;
}

#bm-bar-drag.dragging {
  background-color: #2e67d0;
  cursor: grabbing;
}

#bm-contain-header {
  margin-bottom: 0.5em;
}

#bm-overlay img {
  display: inline-block;
  height: 2.5em;
  margin-right: 1ch;
  vertical-align: middle;
}

#bm-overlay h1 {
  display: inline-block;
  font-size: x-large;
  font-weight: bold;
  vertical-align: middle;
}