/* @since 0.5.1 */

#bm-overlay {
  position: fixed;
  background-color: rgba(21, 48, 99, 0.9);
  color: white;
  padding: 10px;
  border-radius: 8px;
  z-index: 9000;
  font-family: 'sans-serif';
}

#bm-bar-drag {
  margin-bottom: 0.5em;
  background-color: #3373eb;
  cursor: grab;
  width: 100%;
  height: 1em;
}

#bm-bar-drag:active {
  background-color: #2e67d0;
  cursor: grabbing;
}

#bm-overlay img {
  display: inline-block;
  height: 2.5em;
  margin-right: 1ch;
  vertical-align: middle;
}

#bm-overlay h1 {
  display: inline-block;
  font-size: x-large;
  vertical-align: middle;
}